{% extends 'core/base.html' %}
{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Detalle de Categoria" %}
{% endblock titulo %}
{% block section %}

    <div class="card-categoria">
        <h1>{{ object.nombre }}</h1>
    </div>

    <div class="container-link-crud-productos">
        <a class="link-crud-productos" href="{% url 'producto:productocategoria_list' %}">Volver a ver Categorias</a>
        <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
    </div>

{% endblock section %}
