{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Lista de Productos" %}
{% endblock titulo %}
{% block section %}

    {% regroup object_list by categoria_id.nombre as categorias %}

    <div class="conteiner-categorias">
        {% for categoria in categorias %}
        <div class="conteiner-card-productocategoria">
            <div class="card-categoria">
                <h1>{{ categoria.grouper }}</h1>
                <hr>
                {% for producto in categoria.list %}
                <div class="producto-opciones">
                    <p class="producto-nombre">{{ producto.nombre }}</p>
                    <p class="producto-precio">${{ producto.precio }}</p>
                    <div class="producto-opc">
                        <a href="{% url 'producto:producto_detail' producto.id %}"><img class="icono-opcion-producto" src="{% static 'core/img/lupa.webp' %}" alt="Detalle Producto"></a>
                        <a href="{% url 'producto:producto_update' producto.id %}"><img class="icono-opcion-producto" src="{% static 'core/img/editar.webp' %}" alt="Detalle Producto"></a>
                        <a href="{% url 'producto:producto_delete' producto.id %}"><img class="icono-opcion-producto" src="{% static 'core/img/eliminar.webp' %}" alt="Detalle Producto"></a>
                    </div>
                </div>     
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container-link-crud-productos">
        <a class="link-crud-productos" href="{% url 'producto:home' %}">Volver a ver Productos</a>
        <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
    </div>


{% endblock section %}

