{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Detalle del Producto" %}
{% endblock titulo %}

{% block section %}
    <div class="card-categoria">
        <h1>{{ object.nombre }}</h1>
        <hr>
        <p class="detalle-producto">Categoria: {{ object.categoria_id }}</p>
        <p class="detalle-producto">Descripción: {{ object.descripcion }}</p>
        <p class="detalle-producto">Precio: ${{ object.precio_unit }}</p>
    </div>

    {% include 'producto/components/btn_volver_listaproducto.html' %}
{% endblock section %}

