{% extends 'core/base.html' %}

{% block section %}
    <div class="card-categoria">
        <p>¿Confirma eliminar "{{ object.nombre }}"?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="boton-confir-delete">Confirmar</button>
        </form>
    </div>

    <div class="container-link-crud-productos">
        <a class="link-crud-productos" href="{% url 'producto:home' %}">Volver a ver Productos</a>
        <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
    </div>

{% endblock section %}