{% extends 'core/base.html' %}
{% block section %}

    <form class="form-container" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="link-crud-productos" type="submit">Guardar</button>
    </form>

    <div class="container-link-crud-productos">
        <a class="link-crud-productos" href="{% url 'producto:productocategoria_list' %}">Volver a ver Categorias</a>
        <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
    </div>

{% endblock section %}