{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Eliminar Categoria" %}
{% endblock titulo %}

{% block section %}    
    <div class="card-categoria">
        <p>¿Confirma eliminar "{{ object.nombre }}"?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="boton-confir-delete">Confirmar</button>
        </form>
    </div>

    {% include 'producto/components/btn_volver_listacategoria.html' %}
{% endblock section %}