{% extends 'core/base.html' %}

{% block titulo %}
    {% if form.instance.pk %}
        {% include 'core/components/titulo.html' with titulo="Modificar Categoria" %}
    {% else %}
        {% include 'core/components/titulo.html' with titulo="Crear Categoria" %}
    {% endif %}    
{% endblock titulo %}

{% block section %}
    <form class="form-container" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="link-crud-productos" type="submit">Guardar</button>
    </form>

    {% include 'producto/components/btn_volver_listacategoria.html' %}
{% endblock section %}