{% extends 'core/base.html' %}

{% block section %}
    
    <p>¿Confirma eliminar "{{ object.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>

    <div class="container-link-crud-productos">
        <a class="link-crud-productos" href="{% url 'producto:home' %}">Volver a ver Productos</a>
        <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
    </div>

{% endblock section %}