{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Eliminar Pedido" %}
{% endblock titulo %}

{% block section %}
    <div class="card-categoria">
        <p>¿Confirma eliminar "Pedido {{ object.id }}"?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="boton-confir-delete">Confirmar</button>
        </form>
    </div>

    {% include 'pedido/components/btn_volver_listapedido.html' %}
{% endblock section %}