{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Modificar Pedido" %}
{% endblock titulo %}

{% block section %}
    <form class="form-container-crearpedidos" method="post">
        <div class="form">
            <h2>Datos</h2>
            <hr>
            {% csrf_token %}
            {{ pedido_form.as_p }}
            {{ formset.management_form }}
        </div>
        <div class="form" id="formset-container">
            <h2>Productos</h2>
            <hr>
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
        </div>    
        <div class="form2">
            <button class="link-crud-productos" type="button" id="add-product">Agregar Producto</button>
            <button class="link-crud-productos" type="submit">Guardar Pedido</button>
        </div>        
    </form>

    <script>
        document.getElementById('add-product').onclick = function() {
            const formsetContainer = document.getElementById('formset-container');
            const formsetPrefix = '{{ formset.prefix }}';
            const totalForms = document.getElementById('id_' + formsetPrefix + '-TOTAL_FORMS');
            const currentCount = totalForms.value;
            const newCount = parseInt(currentCount) + 1;
            totalForms.value = newCount;

            const newFormHtml = '{{ formset.empty_form.as_p|escapejs }}'.replace(/__prefix__/g, currentCount);
            formsetContainer.insertAdjacentHTML('beforeend', newFormHtml);
        };
    </script>

    {% include 'pedido/components/btn_volver_listapedido.html' %}
{% endblock section %}