{% extends 'core/base.html' %}
{% block section %}
    <h1>Crear Pedido</h1>
    <form method="post">
        {% csrf_token %}
        {{ pedido_form.as_p }}
        {{ formset.management_form }}
        <h2>Productos</h2>
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="button" id="add-product">Agregar Producto</button>
        <button type="submit">Guardar Pedido</button>
    </form>

    <script>
        document.getElementById('add-product').onclick = function() {
            const formsetPrefix = '{{ formset.prefix }}';
            const totalForms = document.getElementById('id_' + formsetPrefix + '-TOTAL_FORMS');
            const currentCount = totalForms.value;
            const newCount = parseInt(currentCount) + 1;
            totalForms.value = newCount;
            const newFormHtml = '{{ formset.empty_form.as_p|escapejs }}'.replace(/__prefix__/g, currentCount);
            document.querySelector('form').insertAdjacentHTML('beforeend', newFormHtml);
        };
    </script>
    
{% endblock section %}

