{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Detalle Pedido" %}
{% endblock titulo %}

{% block section %}
    <div class="card-pedidos">
        <div class="ped-est-hr">
            <h2>Pedido: {{ pedido.id }}</strong></h2>
            <p>Estado: <span {% if pedido.estado == "Pendiente" or pedido.estado == "Cancelado" %} style="color: red;" {% else %} style="color: green;" {% endif %} class="estado">{{pedido.estado}}</span></p>
            <p>{{ pedido.hora|time:"H:i" }}Hs</p>
        </div>
        
        <p class="datos-pedido">Dirección: {{ pedido.direccion }}</p>
        <p class="datos-pedido">Observación: {{ pedido.observacion }}</p>
        <p class="datos-pedido">Cliente: {{ pedido.cliente }}</p>
        <hr>

        <h3>Productos:</h3>
        <div class="productos-pedidos">
            {% for pedido_producto in pedido.pedidoproducto_set.all %}
                <p>{{ pedido_producto.cantidad }} {{ pedido_producto.producto.nombre }}</p>
            {% endfor %}
        </div>

        <p class="precio-pago"><strong>TOTAL: ${{ pedido.precio_total }}</strong>  {{ pedido.pago }}</p>
    </div>

    {% include 'pedido/components/btn_volver_listapedido.html' %}
{% endblock section %}

