{% extends 'core/base.html' %}
{% load static %}

{% block section %}
    {% for pedido in object_list %}
    <h1>Pedido: {{ pedido.id }}</h1>
    <h2 style="color: red;">{{pedido.estado}}</h2>
    <h2>{{ pedido.hora|date:"H:i" }}</h2>
    <p>Dirección: {{pedido.direccion}}</p>
    <p>Observación: {{pedido.observacion}}</p>
    <p>Nombre: {{pedido.cliente}}</p>
    <h4>Producto: {{pedido.cantidad}} {{pedido.producto.nombre}}</h4>
    <h3>TOTAL: {{pedido.precio_total}} {{pedido.pago}}</h3>
    <hr>
    {% endfor %}
    
    <div class="container-link-crud-productos">
        <a class="link-crud-productos" href="{% url 'pedidos:home' %}">Volver a ver pedido</a>
        <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
    </div>
{% endblock section %}


    






