{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    <title>don Quijote</title>
</head>
<body>
    {% include 'core/components/header.html' %}

    {% include 'core/components/navbar.html' %}

    {% block section %}
    {% endblock section %}

    {% include 'core/components/footer.html' %}
</body>
</html>