* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.container-header {
  background-color: green;
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.title {
  color: #fff;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
}

/* FOOTER */
.container-footer {
  height: 7vh;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-footer {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  margin-right: 20px;
}

/* NAVBAR */
.container-nav {
  width: 20%;
  height: 86vh;
  background-color: #f0f0f0; 
  float: left;
  overflow-y: auto;
  border-right: 1px solid #ccc; 
}

.list-app {
  list-style: none;
  padding: 0;
}

.list-link {
  margin-bottom: 10px;
}

.link-app {
  color: #000; 
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 40px;
  transition: background-color 0.3s ease;
}
.usuario {
  padding: 20px 20px;
}

.link-app:hover {
  background-color: #ddd; /* Cambio de color suave */
}

/* SECTION */
.section-container {
  height: 86vh;
  width: 80%;
  float: left;
  padding: 20px;
  overflow-y: auto;
}

.acceso-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.section-img {
  width: 10%;
  height: 10%;
}

/* PRODUCTOS */
.producto-index-container {
  margin: 50px auto;
  max-width: 1000px;
}

.titulo-producto-index {
  font-size: 24px;
  margin-bottom: 10px;
}

.container-link-crud-productos {
  display: flex;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.link-crud-productos {
  display: inline-block;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link-crud-productos:hover {
  background-color: #45a049;
}

/* LISTA DE PRODUCTOS */
.conteiner-categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.conteiner-card-productocategoria {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.card-categoria {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-categoria:hover {

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-opciones {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: 
  "nom prc opc";
}

.producto-nombre {
  grid-area: nom;
}

.producto-precio {
  grid-area: prc;
}

.producto-opc {
  grid-area: opc;
  display: flex;
  justify-content: space-around;
}

.link-opcion-producto {
  display: flex;
}

.icono-opcion-producto {
  width: 15px;
  height: 15px;
}

/* FORM */
.form-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.form-control {
  display: block;
  margin: 10px 0px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.detalle-producto {
  margin-top: 5px;
}

.boton-confir-delete {
  background-color: red;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.boton-confir-delete:hover {
  background-color: rgb(241, 59, 59);
}

.conteiner-categorias2 {
  display: flex;
  justify-content: center;
}
.card-categoria2 {
  width: 60%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.categoria2-opciones {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80%;
  grid-template-areas: 
  "nomc opcc";
}

.categoria-nombre {
  grid-area: nomc;
}

.categoria-opc {
  grid-area: opcc;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}
.usuario-logout {
  display: flex;
  column-gap: 15px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #ced4da;
}
.btn-logout {
  border: none;
  background-color: #ced4da;
}