<div class="opciones_pedidos">
    <a class="link-crud-productos" href="{% url 'pedidos:pedido_create' %}">NUEVO</a>
    <a class="link-crud-productos" href="{% url 'pedidos:pedido_list' %}">TODOS</a>
    <a class="link-crud-productos" href="{% url 'pedidos:pedido_list' %}?estado=Pendiente">PENDIENTES</a>
    <a class="link-crud-productos" href="{% url 'pedidos:pedido_list' %}?estado=Entregado">ENTREGADOS</a>
    <a class="link-crud-productos" href="{% url 'pedidos:pedidotodos_confirm_delete' %}">BORRAR TODOS</a>
    <a class="link-crud-productos" href="{% url 'core:home' %}">HOME</a>
</div>

