<div class="opciones_pedidos">
    <a class="link-crud-productos" href="{% url 'pedidos:pedido_create' %}">Nuevo Pedido</a>
    <a class="link-crud-productos" href="{% url 'pedidos:pedido_list' %}">Ver Todos</a>
    <a class="link-crud-productos">Ver Pendientes</a>
    <a class="link-crud-productos">Ver Entregados</a>
    <a class="link-crud-productos">Borrar Pedidos</a>
    <a class="link-crud-productos" href="{% url 'core:home' %}">Volver a Home</a>
</div>
<hr class="opciones_pedidos_separador">
