<nav class="container-nav">
    <ul class="list-app">
        
        {% if user.is_authenticated %}
            <div class="usuario-logout">
                <li class="list-link"><a>Usuario: {{ user.username }}</a></li> 
                <li>
                    <form action="{% url 'core:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout"><u>Cerrar sesión</u></button>
                    </form>
                </li>
            </div>
            <li class="list-link"><a class="link-app" href="{% url 'core:home' %}">Escritorio</a></li>
            <li class="list-link"><a class="link-app" href="{% url 'pedidos:pedido_list' %}">Pedidos</a></li> 
            <li class="list-link"><a class="link-app" href="{% url 'producto:home' %}">Productos</a></li> 
        {% else %}
            <li class="list-link"><a class="link-app" href="{% url 'core:login' %}">Login</a></li>
        {% endif %}

    </ul>
</nav>